#contact_button {
  padding: 0.9rem 2rem;

  border: none;
  border-radius: 2rem;

  font-family: var(--fraunces);
  font-weight: var(--fraunces-w700);
  font-size: clamp(0.8rem, 5vw, 1rem);
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;

  &.white {
    background-color: var(--white);

    &.white:hover {
      background-color: var(--dark-blue);
      filter: brightness(245%);
      color: var(--white);
    }
  }

  &.yellow {
    background-color: var(--yellow);

    &.yellow:hover {
      background-color: hsl(51, 100%, 62%);
    }
  }
}