.footer_container {
  display: grid;
  place-items: center;

  padding: 2rem;

  min-height: 50vh;
  background-color: var(--dark-moderate-cyan);
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  width: 100%;
  gap: 4rem;

  > svg {
    transform: scale(1.4);

    path {
      fill: var(--dark-desaturated-cyan);
    }
  }

  .footer_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;

    list-style: none;

    > li {
      color: var(--dark-desaturated-cyan);
      font-size: clamp(1rem, 5vw, 1.2rem);
      font-family: var(--barlow);
      font-weight: var(--barlow-w600);

      transition: color 0.2s ease;

      &:hover {
        color: var(--white);
      }
    }
  }

  .social_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 6rem);
    width: 100%;

    > a:hover {
      position: relative;
      transition: transform 0.3s ease;
      transform: scale(1.2);

      svg path{
        transition: fill 0.3s ease;
        fill: var(--white);
      }
    }
  }
}